@media (max-width: 912px) {

   
    #container .menu nav ul{

        width: 100%;
        height: 0;

        top: 70px;
        right: 0px;

        z-index: 1000;

        display: block;
        
        position: absolute;

        transition: .6s;

        background-color: white;

        visibility: hidden;
        overflow-y: hidden;
        
    }

    #container .menu nav ul li{

        
        display: flex;
        align-items: center;
        
        height: 50px;
        width: 100%;
       
        border-bottom:  2px solid rgba(0, 0, 0, .05);
    
        font-weight: 400;
        
    }
   
    #container .menu nav.active ul{
        height: 100vh;
        visibility: visible;
        overflow-y: auto;
        
    }

    #container .menu nav ul a{
        padding: 1rem 0 1rem 0;
        margin: 0 1rem;
       
    }

    #container .menu nav .menu-mobile{
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    #container .menu nav .menu-mobile .toogle-menu{
        color: black;
        width: 20px;
        border-top: 2px solid;
        display: block;
    }

    #container .menu nav .menu-mobile .toogle-menu::after, #container .menu nav .menu-mobile .toogle-menu::before{
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        position: relative;
    }

    #container .menu nav.active .toogle-menu{
        border-top-color: transparent ;
    }

    #container .menu nav.active .toogle-menu::before{
        transform: rotate(135deg);
    }

    #container .menu nav.active .toogle-menu::after{
        transform: rotate(-135deg);
        top:-7px;
    }

    #container main section{

        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #container main section figure .photo{
        border-radius: 50%;   
    }

    #container main section  .text{
        width: 100%;
        max-width: 1100px;


        display: flex;
        align-items: center;
        justify-content: center;

        
    }

    #container main section  .text p{
        font-size: 1.3rem;
        text-align: center;

    }
   
  
    #container main section.technology figure{
        
        flex-wrap: wrap;
        margin: 0, 1rem, 0, 1rem;
    
    }

   
}

