#container {
    width: 100%;
    max-width: 100%;

    height: 100%;


    display: flex;
    align-items: center;


    flex-direction: column;

}

#container header {

    width: 100%;
    max-width: 100%;

    height: 70px;

    background-color: rgb(231, 71, 71);


    display: flex;

    align-items: center;

    justify-content: right;

    flex-direction: row;


}

#container header nav .toogle-menu {
    display: none;
}

#container header nav ul {
    display: flex;

    align-items: center;

    justify-content: center;

    gap: 1rem;

    list-style: none;
}

#container header nav ul li:hover {
    border: 0.5px solid white;
    padding: .5rem;

    border-radius: 10px;

    background-color: rgb(236, 115, 115);

    margin-bottom: .2rem;

    transition: .3s;

}

#container main {
    width: 100%;
    max-width: 100%;

    height: 100%;

    display: flex;

    align-items: center;

    justify-content: space-evenly;

    flex-direction: column;

    padding: 1rem;

}


#container main .about-me {
    width: 100%;
    max-width: 100%;

    height: 100vh;


    display: flex;

    align-items: center;
    justify-content: space-evenly;

    gap: 1rem;

    margin-top: 1rem;

}

#container main .about-me figure {
    width: 400px;
    height: 400px;

    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;


}

#container main .about-me figure .my-photo {
    width: 100%;
    max-width: 100%;

    height: 100%;

    object-fit: cover;

    border: 5px solid rgb(241, 241, 245);

    border-radius: 5px;
}

#container main .about-me .text {
    width: 100%;
    max-width: 400px;


    display: flex;

    align-items: center;
    justify-content: center;

    flex-wrap: wrap;

    margin-top: 2rem;
}

#container main .about-me .text p{
    font-size: 1.5rem;
    font-weight: 300;
}

#container main .technology {
    width: 100%;
    max-width: 100%;

    height: 100%;

    display: flex;

    align-items: center;
    justify-content: space-around;

    padding: 1rem;

    flex-wrap: wrap;

    gap: 1rem;
}

#container main .technology .card {
    width: 300px;
    height: 500px;

    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: column;
}

#container main .technology .card .container-image-technology {
    width: 250px;
    height: 250px;

    display: flex;
    align-items: center;
    justify-content: space-between;


}

#container main .technology .card .image-technology {
    width: 100%;
    max-width: 100%;

    height: 100%;

    object-fit: cover;
}

#container main .technology .card .description-technology {
    width: 100%;

    height: 400px;

    font-size: 1.1rem;

    line-height: 1.5rem;


}

#container main .projects {
    width: 100%;
    max-width: 100%;

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;

    margin-bottom: 5rem;

}

#container main .projects .card-project {
    width: 100%;
    max-width: 100%;

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 1rem;
}

#container main .projects .card-project .description-project {
    width: 100%;
    max-width: 100%;

    height: auto;

    line-height: 1.5rem;
    font-size: 1.3rem;


}

#container main .projects .container-image-project {
    width: 100%;
    max-width: 1100px;

    height: 100%;

}

#container main .projects .container-image-project .image-project {
    width: 100%;
    max-width: 100%;

    height: 100%;

    object-fit: cover;

}

#container footer {
    width: 100%;

    height: 100px;

    background-color: rgb(231, 71, 71);
    ;


    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

#container footer nav ul {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    list-style: none;
}

#container footer nav ul li:hover {
    border: 0.5px solid white;
    padding: .5rem;

    border-radius: 10px;

    background-color: rgb(236, 115, 115);

    margin-bottom: .2rem;

    transition: .3s;
}