.header__desktop-container {
  max-width: 1366px;

  height: 110px;
  display: flex;
  align-items: center;

  justify-content: space-between;

  margin: 0 auto;
}

.header__desktop-options {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile__header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu_item:hover {
  background-color: #f71963;
}
