.footer {
  margin: 0 auto;
  bottom: 0;
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .social__media-links {
  max-width: 375px;
  margin-top: 0;
  justify-content: space-evenly;
}
