:root {
  --primary-color: #445964;
  --secondary-color: #263138;
  --secondary-color-dt: #1b1d1f;
  --primary-color-dt: #17add4;
  --bg-card-dt: #222425;

}

.dark-theme {
  /* background-color: var(--secondary-color-dt) ; */
  color: var(--primary-color-dt);
}

.bg-dark {
  background-color: var(--secondary-color-dt);
}

.card-dark-theme{
  background-color:var(--bg-card-dt)
}
body {
  font-family: sans-serif;
  margin: 0;
}

#root {
  width: 100%;
  margin: 0 auto;
}

.app{
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.app.dark-theme{
  background-color: var(--secondary-color-dt) ;
  color: var(--primary-color-dt);
}

.content{
  max-width: 1366px;
  padding: 0 16px;
}

p,
h1 {
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}
