@media (max-width: 912px) {
    #container header nav ul {
        width: 100%;
        height: 0;

        top: 70px;
        right: 0px;

        z-index: 1000;

        display: block;

        position: absolute;

        transition: .6s;

        background-color: var(--open-toogle-menu);

        visibility: hidden;
        overflow-y: hidden;

        
    }

    #container header nav ul li{
        width: 100%;
        height: 50px;
    
        display: flex;
        align-items: center;
        
        border-bottom:  2px solid rgba(0, 0, 0, .05);
    
        font-weight: 400;
    }

    #container header nav.active ul{
        height: 100vh;
        visibility: visible;
        overflow-y: auto;
        
        flex-direction: column;

        padding: 1rem;
    }

    #container header nav .toogle-menu{
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
        
    }

    #container header nav .toogle-menu .menu-hamburguer{
        color: white;
        width: 20px;
        border-top: 2px solid;
        display: block;
    }

    #container header nav .toogle-menu .menu-hamburguer::after{
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        position: relative;
    }

    #container header nav .toogle-menu .menu-hamburguer::before{
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        position: relative;
    }

    #container header nav.active .toogle-menu .menu-hamburguer{
        border-top-color: transparent;
    }
   
    #container header nav.active .toogle-menu .menu-hamburguer::before{
        transform: rotate(135deg);
    }

    #container header nav.active .toogle-menu .menu-hamburguer::after{
        transform: rotate(-135deg);
        top:-7px;
    }

    #container main .aboutme {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        margin-bottom: 5rem;


        gap: 1rem;
    }

    #container main .aboutme figure{
        width: 300px;
        height: 300px;
      
    }

    #container main .aboutme figure .my-photo{
        


        border-radius: 50%;
        
        object-fit: cover;
    }

}

